server {
    listen 80;
    server_name {{ item.1 }};

    # Combine multiple nginx variables for pseudo-randomness
    set $temp $msec$request_id$remote_port;

    # Extract 5 characters using regex
    if ($temp ~ "(\w).*(\w).*(\w).*(\w).*(\w)") {
        set $random_str $1$2$3$4$5;
    }

    # Fallback
    if ($random_str = "") {
        set $random_str "a1b2c";
    }

    # Select a fresh domain based on the kawal domain index
    {% set kawal_domains_list = item.0.kawal_domains %}
    {% set fresh_domains_list = item.0.fresh_domains %}
    {% set current_index = kawal_domains_list.index(item.1) %}
    {% if current_index < fresh_domains_list|length %}
    {% set fresh_domain = fresh_domains_list[current_index] %}
    {% else %}
    {% set fresh_domain = fresh_domains_list[0] %}
    {% endif %}
    return 302 https://$random_str.{{ fresh_domain }}$request_uri;
}